<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- CDATA는  XML에서 부등호를 사용하기위해 사용한다. <![CDATA[ ]]> -->

<mapper namespace="boardLikeMapper">

	<insert id="create">
		INSERT INTO 
			board_like (board_number, user_id, status) 
		VALUES (#{boardNumber}, #{userId}, #{status});
	</insert>
	
	<update id="update">
		UPDATE board_like SET  
			status = #{status} 
		WHERE 
			user_id = #{userId}
			AND
			board_number = #{boardNumber};
	</update>
	
	<select id="read" resultType="likeVO">
		SELECT 
			* 
		FROM 
			board_like 
		WHERE 
			like_number = #{likeNumber};
	</select>
	
	<delete id="remove">
		DELETE FROM 
			board_like 
		WHERE user_id = #{userId}
			  AND
			  board_number = #{boardNumber};
	</delete>
	
	<select id="likeList" resultType="likeVO">
		SELECT * 
		FROM 
			board_like 
		WHERE 
			board_number = #{boardNumber};
	</select>
	
	<select id="likeGoodTotalCount" resultType="int">
		SELECT 
			COUNT(board_like.board_number) 
		FROM 
			board_like 
		WHERE 
			status = "G" 
			AND 
			board_like.board_number = #{boardNumber};
	
	</select>
	
	<select id="likeBadTotalCount" resultType="int">
		SELECT 
			COUNT(board_like.board_number) 
		FROM 
			board_like 
		WHERE 
			status = "B" 
			AND 
			board_like.board_number = #{boardNumber};
	</select>
	
	<delete id="likeBoardTotalDelete">
		DELETE FROM 
			board_like 
		WHERE 
			  board_number = #{boardNumber};
	</delete>

</mapper>
